div a {

    pointer-events: none;
}

body, html {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
}
.container {
    margin: 20px;
}

#venueInfo{
    font-family: sans-serif;
    font-size: 105%;
    padding: 5px 5px;
    font-weight: bold;
    background-color: rgb(44, 62, 80);
    color: rgb(236, 240, 241);
    overflow-y: hidden;
}

.venueInfoButton{
  width: 18ch;
}

.topRightButton{
    position: absolute;
    top: 5px;
    right: 11.5px;
}



/* Style pour les boutons des options */
.niceButton {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.niceButtonNoMargin {
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.copyButton {
    border: 1px solid #ccc;
    padding: 2px 6px;
    cursor: pointer;
  }
  
.scrapTextBox{
  width: 87.6%;
  border: 1px solid #ccc;
  padding: 2px 10px;
  background-color: white;
  font-family: sans-serif;
  font-size: 85%;
  resize: none;
}
/* Style pour mettre en surbrillance l'option sélectionnée */
.languageItem.selected {
background-color: lightblue;
}



.highlightName {
  background-color: rgb(52, 152, 219);
}

.highlightDate {
  background-color: rgb(46, 204, 113);
}

.highlightStyle {
  background-color: rgb(243, 156, 18);
}

.highlightPlace{
    background-color: rgb(155, 89, 182);
}

.highlightDummy{
    background-color: rgb(149, 165, 166);
}

.invalid{
  background-color: rgb(241, 148, 146);
}


.redFont {
  color: red;
}

.greyFont {
  color: grey;
}

.inactive{
  color: grey;
}

.blue-text {
  color: blue;
}

#missingLinksText{
  padding: 5px 5px;
}

#logText {
    width: 87.6%;
    height: 200px;
    overflow-y: scroll; 
    resize: none;
    background-color: lightgray;
}

#logPanel {
  position: relative; /* Position relative pour positionner le bouton à l'intérieur */
  width: 100%;
  height: 250px;
  padding: 5px 10px;
  background-color: grey;
  overflow: hidden;
}

.compact-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

#saveButton {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 60px;
  height: 20px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

#saveButton:hover {
  background-color: darkgray;
}

.topElement{
  position: absolute;
  top: 15px;
}

.rightElement{
  position: absolute;
  right: 25px;
}

.bottomElement{
  position: absolute;
  bottom: 15px;
}

.bottomMargin{
  margin-bottom: 20px;
}

.smallBottomMargin{
  margin-bottom: 10px;
}

.verySmallBottomMargin{
  margin-bottom: 5px;
}

.miniBottomMargin{
  margin-bottom: 1px;
}

.leftMargin{
  margin-left: 20px;
}

.topMargin{
  margin-top: 20px;
}


.button:hover {
  background-color: darkgray;
}

#processContainer {
    font-family: sans-serif;
    display: flex; /* Utiliser Flexbox pour le positionnement */
    height: 100vh;
    overflow-y: auto;
}

.leftPanel {
  width: 35%; /* Largeur de la partie gauche */
  background-color: #f0f0f0; /* Couleur de fond */
  overflow-y: hidden; /* Ajouter un défilement si le contenu est plus long que la zone */
  overflow-x: hidden;
}

#pageManager {
    position: relative; 
    background-color: rgb(61, 80, 100);
    color: rgb(236, 240, 241);
    overflow-y: hidden;
  }

#analyzePanel{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.title{
    font-weight: bold;
    margin-bottom: 5px;
}

.scrapElement{
    display: flex;
    flex-direction: column; /* Affichage en colonne */
    align-items: flex-start;
    padding: 5px 5px;
}


.scrapElement .input-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.scrapElement .input-row textarea {
    flex: 1 0 80%; /* Utilise 80% de la largeur disponible */
    margin-right: 5px; /* Marge entre les éléments */
}

.scrapElement .input-row button {
    flex: 0 0 auto; /* Taille automatique */
    margin-right: 5px; /* Marge entre les éléments */
}


#eventURLPanelMessage{
    font-weight: normal;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.rightPanel {
  width: 65%; /* Largeur de la partie droite */
  background-color: #d0d0d0; /* Couleur de fond */
  overflow-y: auto; /* Ajouter un défilement vertical si le contenu est plus long que la zone */
}
  

.encadre {
  border: 1px solid black; /* Définit une bordure solide d'un pixel en noir */
  padding: 10px; /* Ajoute un espacement intérieur de 10 pixels pour séparer le contenu de la bordure */
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
}

.mainTag {
  background-color: rgb(231, 76, 60);
}

.delimiterTag {
    background-color: rgb(231, 76, 60);
}

.delimiterTagInput {
    width: 93.5%;
    background-color: rgb(231, 76, 60);
    border: 1px solid #ccc;
    padding: 5px 10px;
    background-color: white;
}


#delimiterPanel{
    position: relative;
    padding: 5px 5px;
}

#freezeDelimiterButton{
    border: 1px solid #ccc;
    padding: 1px 5px;
    cursor: pointer;
}

textarea:focus, input:focus {
    outline: 2px solid rgb(189, 195, 199); 
}

.log-button {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
}