@import url('https://fonts.googleapis.com/css?family=Montserrat');

div a {
    pointer-events: none;
}

body, html {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
}
.container {
    margin: 20px;
}



#venueInfo{
  font-family: "Montserrat", sans-serif;
    font-size: 105%;
      padding: 5px 5px;
      font-weight: bold;
      background-color: rgb(44, 62, 80);
      color: rgb(236, 240, 241);
      overflow-y: hidden;
}

#pageManagerDetailsPanel{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
}


/* Style pour les boutons des options */

.venueInfoButton{
  width: 18ch;
}

.topRightButton{
    position: absolute;
    top: 5px;
    right: 5px;
}

.compact-button {
  width: 20px;
  height: 20px;
}

.easyButton{
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  border: none;
  background-color: rgb(232, 228, 228);
  padding: 0;
}

/* inactive is used to prevent buttons from working*/
.easyButton.inactive, .easyButton.inactiveURL{
  background-color: rgb(187, 196, 227) !important;
  color: rgb(210, 217, 240);
}

.easyButton.inactive:hover, .easyButton.inactiveURL:hover{
  /* background-color: rgb(187, 196, 227);  */
  cursor: default;
}


.easyButton:hover{
  cursor: pointer;
}

.pointer:hover{
  cursor: pointer !important;
}


#saveButton {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 60px;
  height: 20px;
}

#eventSelectorMainTag{
  margin-left: 10px;
}

.normalButton{
  background-color: lightgray;
  border: none;
}

.activeButton:hover {
  background-color: darkgray;
  cursor: pointer;
}

.activeGroupTagButton:hover {
  background-color: darkgray;
}


.scrapElement .input-row button {
  /* flex: 0 0 auto;  */
  margin-right: 5px; /* Marge entre les éléments */
}

/* #groupTagsButton{
position: absolute;
right: 5px;
padding: 2px 6px;
cursor: pointer;
} */

.groupTagsButton, .regexActivateButton{
  cursor: pointer;
} 

.groupTagsButton:hover, .regexActivateButton:hover{
  background-color: darkgray;
} 

.panelHeader{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
}

.headerButtons{
  display: flex;
    gap: 2px; 
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne */
    min-width: 0;
    overflow: hidden;
}

.copyButton {
position: absolute;
right: 0px;
padding: 2px 6px;
}

.regexpButton{
  padding: 2px 6px;
}

#freezeDelimiterButton{
  padding: 1px 5px;
}

#switchPageButton{
  position: fixed;
  top: 20px; 
  right: 40px; 
  width: 23ch;
  padding: 5px 10px;
  z-index: 9999; /*on top*/
}

#logButton {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 20px;
    height: 20px;
}

#easyPanel{
  background-color: rgb(177, 187, 221);
}
  
.easyPanelLine{
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.easyPanelLine:has(+ .easyPanelLine) {
  margin-bottom: 2px;
}

.subEventRightDiv{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%; 
  align-items: stretch;
  /* align-items: center; */
  margin: 0px;
}


.easyField{
  border: none;
  flex: 1 1 auto;
  min-width: 10px;
  height: 18px;
  width: 100%;
}

/* Style pour mettre en surbrillance l'option sélectionnée */
.languageItem.selected {
background-color: lightblue;
}

.SCRPXhighlightName {
  background-color: rgb(52, 152, 219);
}

.SCRPXhighlightName.subEvent {
  background-color: rgba(52, 152, 219,0.8);
}

.SCRPXhighlightDate {
  background-color: rgb(46, 204, 113);
}

.SCRPXhighlightDate.subEvent {
  background-color: rgba(46, 204, 113, 0.8);
}

.SCRPXhighlightStyle {
  background-color: rgb(243, 156, 18);
}

.SCRPXhighlightStyle.subEvent {
  background-color: rgba(243, 156, 18,0.8);
}

.SCRPXhighlightPlace{
    background-color: rgb(155, 89, 182);
}

.SCRPXhighlightPlace.subEvent{
  background-color: rgba(155, 89, 182, 0.8);
}

.SCRPXhighlightURL:not(.SCRPXhighlightName):not(.SCRPXhighlightDate):not(.SCRPXhighlightStyle):not(.SCRPXhighlightPlace){
  background-color: rgb(241, 196, 15);
}

.SCRPXhighlightURL.subEvent:not(.SCRPXhighlightName):not(.SCRPXhighlightDate):not(.SCRPXhighlightStyle):not(.SCRPXhighlightPlace){
  background-color: rgba(241, 196, 15, 0.8);
} */

.SCRPXshadow{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.easyFieldBg{
  opacity: 0.5;
}


.SCRPXhighlightURL{
  background-image: repeating-linear-gradient(
    90deg,        
    rgb(241, 196, 15) 0px,  
    rgb(241, 196, 15) 30px,
    transparent 30px, 
    transparent 60px 
  );
}



/* .SCRPXhighlightMultiName {
  border: 2px dashed rgb(42, 140, 205); 
}

.SCRPXhighlightMultiDate {
  border: 2px dashed rgb(31, 172, 90);
}

.SCRPXhighlightMultiStyle {
  border: 2px dashed rgb(216, 139, 15);
}

.SCRPXhighlightMultiPlace{
  border: 2px dashed rgb(129, 69, 152)
}

.SCRPXhighlightMultiURL{
  border: 2px dashed rgb(206, 167, 12);
} */


.easyButtonName:not(.SCRPXhighlightName):not(.inactive):hover{
  background-color: rgb(52, 152, 219);
  opacity: 0.5;
}

.easyButtonDate:not(.SCRPXhighlightDate):not(.inactive):hover{
  background-color: rgb(46, 204, 113);
  opacity: 0.5;
}

.easyButtonStyle:not(.SCRPXhighlightStyle):not(.inactive):hover{
  background-color: rgb(243, 156, 18);
  opacity: 0.5;
}

.easyButtonPlace:not(.SCRPXhighlightPlace):not(.inactive):hover{
    background-color: rgb(155, 89, 182);
    opacity: 0.5;
}

.easyButtonURL:not(.SCRPXhighlightURL):not(.inactive):not(.inactiveURL):hover{
  background-color: rgb(241, 196, 15);
  opacity: 0.5;
}

.easyRemoveButton{
  border: none;
  font-weight: bold;
  color: white;
}

.easyRemoveButton:hover{
  background-color: rgb(230, 85, 109);
}

.effectButton:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  color: rgb(210, 210, 210);
  transition: background-color 0.8s ease;
}



.redFont {
  color: red;
}

.greyFont {
  color: grey;
}

.inactive{
  color: grey;
}

.blue-text {
  color: blue;
}

.normalPadding{
  padding: 5px 5px;
}

#logText {
    width: 87.6%;
    height: 200px;
    font-size: 75%;
    overflow-y: scroll; 
    resize: none;
    background-color: lightgray;
}

#logPanel {
  position: relative; /* Position relative pour positionner le bouton à l'intérieur */
  width: 100%;
  padding: 5px 10px;
  background-color: grey;
  overflow: hidden;
  flex: 0 0 auto;
}



.topElement{
  position: absolute;
  top: 15px;
}

.rightElement{
  position: absolute;
  right: 25px;
}

.bottomElement{
  position: absolute;
  bottom: 15px;
}

.bottomMargin{
  margin-bottom: 20px;
}

.smallBottomMargin{
  margin-bottom: 10px;
}

.verySmallBottomMargin{
  margin-bottom: 5px;
}

.miniBottomMargin{
  margin-bottom: 1px;
}

.leftMargin{
  margin-left: 20px;
}

.topMargin{
  margin-top: 20px;
}



#scrapOptionsPanel{
  background-color: rgb(71, 169, 234);
}

#autoAdjustGroup{
  margin-right: 30px;
}


#processContainer {
    font-family: "Montserrat", sans-serif;
    display: flex; /* Utiliser Flexbox pour le positionnement */
    height: 100vh;
    overflow-y: auto;
}

.rightJustif {
  text-align: right;
}

.leftPanel {
  width: 35%; /* Largeur de la partie gauche */
  background-color: #f0f0f0; /* Couleur de fond */
  overflow-y: hidden; /* Ajouter un défilement si le contenu est plus long que la zone */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#pageManager {
    position: relative; 
    background-color: rgb(61, 80, 100);
    color: rgb(236, 240, 241);
    overflow-y: hidden;
    flex: 0 0 auto;
  }

#analyzePanel{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 0 1 auto;
}

.title{
    font-weight: bold;
    /* margin-bottom: 5px; */
}


.scrapElement{
    /*display: flex;
    flex-direction: column; 
    align-items: flex-start;*/
    padding: 5px 5px;
}


.scrapElement .input-row {
    width: 100%;
    margin-bottom: 0px;
    padding: 0px;
}

.scrapElement .input-row .eventStrings {
    /* flex: 1 0 80%;  */
    margin-right: 5px; /* Marge entre les éléments */
}

/* .subEvent{
  opacity: 0.8;
} */


.scrapTextBox{
  width: calc(100% - 10px);
  /* width: 100%; */
  border: none;
  padding: 2px 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 85%;
  resize: none;
  margin-bottom: 0px;
  margin-right: 5px;
  /* min-height: calc(1ch + 10px); */
}

.urlPanel{
    font-weight: normal;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.warning{
  color: rgb(253, 198, 111);
  font-weight: bold;
}

.rightPanel {
  padding: 20px;
  width: 65%; /* Largeur de la partie droite */
  background-color: #e2d9cd; /* Couleur de fond */
  overflow-y: auto; /* Ajouter un défilement vertical si le contenu est plus long que la zone */
}
  

.SCRPXeventBlockInvalid {
  border: 2px dashed grey; 
  padding: 10px; 
  margin: 1px;
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
}
.SCRPXeventBlock {
  border: 2px solid black; 
  padding: 5px; 
  padding-left: 25px;
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
  margin: 1px;
  background-color: rgba(231, 76, 60, 0.2);
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.SCRPXsubEvent{
  border: 2px solid rgb(45, 45, 45); 
  margin-bottom: 3px;
}


custom-a {
  color: blue;
  text-decoration: underline;
  display: block; 
  padding: 5px;
}

.SCRPXsubEventHeader{
  margin: 0px;
  padding: 1px;
  font-size: 40%;
  font-weight: bold;
  text-decoration: none !important;
  color: rgb(254, 243, 243);
  background-color: rgb(45, 45, 45);
}

.SCRPXeventBlockWithURL{
  outline: 4px solid rgb(241, 196, 15);  /* Bordure en tirets rouge */
  outline-offset: -5px;
}

.focusedOn {
  border: 2px solid rgb(231, 76, 60);; 
  padding: 10px; 
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
  margin: 1px;
}

.SCRPXmainTag {
  background-color: rgb(231, 76, 60);
  /* display: inline-block;
  position: relative; */
}


.delimiterTagInput {
  width: calc(100%); /* Largeur ajustée en fonction de la marge */
  box-sizing: border-box;
  margin-top: 5px; 
  border: none;
  padding: 4px 5px;
  background-color: white;
  box-sizing: border-box;
}

.regexpTextBefore{
  margin: 0px;
  padding: 0px;
  font-size: 80%;
  color: rgb(45, 45, 45);
}

.regexpTextAfter{
  margin: 0px;
  padding: 0px;
  font-size: 80%;
  font-weight: bold;
  color: rgb(45, 45, 45);
}

.regexpPanel{
  margin: 0px;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.regexpInput {
  width: calc(40%); /* Largeur ajustée en fonction de la marge */
  margin-top: 5px; 
  border: none;
  padding: 2px 5px;
  background-color: white;
  box-sizing: border-box;
}

#eventSelectorPanel{
  background-color: rgb(242, 91, 75);
  padding: 5px 5px;
  margin: 0px 0px;
}

.delimiterPanelHeader{
  width: calc(100%);
  box-sizing: border-box;
  padding: 0px;
}  

.tag-button {
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(223, 137, 127, 0.6);
  border: 0px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  opacity: 1;
}

.tag-button:hover{
  background-color: rgba(223, 137, 127, 1);
}

#eventSelectorIndex{
  box-sizing: border-box;
  max-width: 100%;
  border: none;
}

#eventSelectorText{
  color: white;
  margin-right: 5px;
}

#delimiterPanel{
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-color: rgb(231, 76, 60);
  padding: 5px;
}

/* #eventURLPanel{
  position: relative;
} */



.scrapTextBox:focus {
    outline: 2px solid rgb(189, 195, 199); 
}

input:focus {
 outline: 0px;
}

.eventTags{
  textarea {
    overflow: hidden; /* Empêche le défilement vertical */
    resize: none; /* Désactive la redimensionnement par l'utilisateur */
    width: 100%; /* Largeur maximale */
  }
}

#adjustURLGroup{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
}

#optionsPanel, #autoAdjustGroup, .adjustURLCheckbox{
  display: flex;
  width: 100%;
  justify-content: normal; 
  /* align-items: center;  */
  /* flex: 1; */
  flex-direction: row;
  /* flex-wrap: nowrap; */
  white-space: nowrap;
  gap: 0px;
  margin: 0px;
}

.niceCheckBox{
  display: flex;
  align-items: center; 
}

.niceCheckBox input[type="checkbox"] {
  margin-right: 8px; /* Espace entre la checkbox et le texte */
}


.invalid{
  background-color: rgb(241, 197, 196);
  color: red;
}

#currentTabSelector{
   display: flex; 
   flex-direction: row;
   padding: 0px;
}

.tab{
  padding: 5px;
  margin: 0px;
  flex: 1;
  text-align: center;
  background-color: rgb(120, 122, 124);
}

.tab:hover{
  background-color: rgb(61, 80, 100);
  color: white;
}

.selectedTab{
  background-color: rgb(61, 80, 100);
  color: white;
}

input[type="number"] {
  -moz-appearance: textfield; /* Forcer l'affichage sur Firefox */
  appearance: auto; /* Forcer sur Chrome/Electron */
}






/* context menu */

.context-menu {
  position: absolute;
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 2px;
  display: none;
  z-index: 1000;
  font-family: sans-serif;
}

/* Boutons carrés */
.menu-buttons {
  display: flex;
  gap: 2px;
  margin-bottom: 1px;
  padding: 0px;
}

.menu-buttons button {
  width: 40px;
  height: 40px;
  /* background: #eee;*/
  border: 1px solid #aaa; 
  cursor: pointer;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

/* .menu-buttons button:hover {
  background: #ddd;
} */

/* Option "Événement multiple" */
.multiple-event {
  margin-top: 2px;
  text-align: center;
  padding: 2px;
  background: #f0f0f0;
  border: 1px solid #aaa;
  cursor: pointer;
}

.multiple-event:hover {
  background: #e0e0e0;
}

/* .multiEventEasyPanelGroup{
  outline: 2px solid rgb(45,45,45); 
  margin-bottom: 4px;
  margin-top: 2px;
  box-sizing: border-box;
} */

.multiEventEasyPanelGroup{
  outline: 2px solid rgb(45,45,45); 
  margin-bottom: 4px;
  margin-top: 4px;
  box-sizing: border-box;
  display: flex;
}

.PanelSubEventHeader{
  margin: 0px;
  padding: 1px;
  font-size: 50%;
  font-weight: bold;
  text-decoration: none !important;
  color: rgb(254, 243, 243);
  background-color: rgb(45, 45, 45);
  justify-content: center; 
  align-items: center;
  text-align: center;
  width: 10px;
  writing-mode: vertical-lr; /* rotate text */
  /* text-orientation: upright; */
}

/* .multiEventEasyPanelGroup:has(+ .PanelSubEventHeader) {
  margin-bottom: 6px;
} */

.multiEventEasyPanelGroup:has(+ .multiEventEasyPanelGroup) {
  margin-bottom: 5px;
}

.SCRPXmouseHighlight{
  background-color: rgba(54, 54, 54, 0.1); 
  transition: background-color 0.1s ease; 
}

.SCRPXmouseHighlight2{
  /* background-color: rgba(218, 55, 55, 1);  */
  opacity: 0.8;
  transition: background-color 0.1s ease; 
}


/* checkboxes */

/* fieldset {
  display: block;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

label.niceCheckBox {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin: 1em;
  /* position: relative; */
  /* top:0px;
  right: 20px; */
}

  

label.niceCheckBox > input {
  display: none;
}

label.niceCheckBox > span {
  color: #6A759B;
  padding-right: 10px;
}

label.niceCheckBox > i {
  display: inline-block;
  width: 32px;
  height: 20px;
  border-radius: 10px;
  vertical-align: middle;
  transition: .25s .09s;
  position: relative;
  background: #deeff7;
}

label.niceCheckBox > i:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  top: 2.5px;
  left: 2.5px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  box-shadow: 1px 2px 4px 0 rgba(#000, .4);
  transition: .15s;
}

label.niceCheckBox>input:checked+span+i {
  background: #1094fb;
}

label.niceCheckBox >input:checked+span+i:after {
  transform: translateX(12.5px);
}


label.niceCheckBox > input:checked + span {
  color: #29316b;
}



