body, html {
  margin: 0px;
  padding: 0px;
}
.container {
    margin: 20px;
}

#pageManager {
    position: relative; /* Position relative pour positionner le bouton à l'intérieur */
    width: 400px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid #ccc;
    overflow: hidden;
  }

/* Style pour les boutons des options */
.niceButton {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.niceButtonNoMargin {
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
  
.scrapTextBox{
  width: 90%;
  border: 1px solid #ccc;
  padding: 5px 10px;
  background-color: white;
  font-family: sans-serif;
  font-size: 85%;
  resize: none;
}
/* Style pour mettre en surbrillance l'option sélectionnée */
.languageItem.selected {
background-color: lightblue;
}



.highlightName {
  background-color: rgb(99, 123, 248);
}

.highlightDate {
  background-color: rgb(116, 207, 127);
}

.highlightStyle {
  background-color: rgb(147, 88, 104);
}

.invalid{
  background-color: rgb(241, 148, 146);
}


.redFont {
  color: red;
}

.greyFont {
  color: grey;
}

.inactive{
  color: grey;
}

.blue-text {
  color: blue;
}

#logText {
  width: 400px;
  height: 200px;
  overflow-y: scroll; 
}

#logPanel {
  position: relative; /* Position relative pour positionner le bouton à l'intérieur */
  width: 400px;
  height: 220px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.compact-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

.topElement{
  position: absolute;
  top: 15px;
}

.rightElement{
  position: absolute;
  right: 25px;
}

.bottomElement{
  position: absolute;
  bottom: 15px;
}

.bottomMargin{
  margin-bottom: 20px;
}

.smallBottomMargin{
  margin-bottom: 10px;
}

.miniBottomMargin{
  margin-bottom: 1px;
}

.leftMargin{
  margin-left: 20px;
}

.topMargin{
  margin-top: 20px;
}


.compact-button:hover {
  background-color: darkgray;
}

.processContainer {
  display: flex; /* Utiliser Flexbox pour le positionnement */
  height: 100vh; /* Hauteur de la fenêtre visible */
}

.leftPanel {
  width: 35%; /* Largeur de la partie gauche */
  background-color: #f0f0f0; /* Couleur de fond */
  overflow: auto; /* Ajouter un défilement si le contenu est plus long que la zone */
}

.rightPanel {
  width: 65%; /* Largeur de la partie droite */
  background-color: #d0d0d0; /* Couleur de fond */
  overflow-y: auto; /* Ajouter un défilement vertical si le contenu est plus long que la zone */
}
  

.encadre {
  border: 1px solid black; /* Définit une bordure solide d'un pixel en noir */
  padding: 10px; /* Ajoute un espacement intérieur de 10 pixels pour séparer le contenu de la bordure */
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
}

.mainTag {
  background-color: rgb(255, 107, 107);
}