div a {
    pointer-events: none;
}

body, html {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
}
.container {
    margin: 20px;
}


#venueInfo{
    font-family: sans-serif;
    font-size: 105%;
    padding: 5px 5px;
    font-weight: bold;
    background-color: rgb(44, 62, 80);
    color: rgb(236, 240, 241);
    overflow-y: hidden;
}

#pageManagerDetailsPanel{
  padding: 5px;
}


/* Style pour les boutons des options */

.venueInfoButton{
  width: 18ch;
}

.topRightButton{
    position: absolute;
    top: 5px;
    right: 5px;
}

.compact-button {
  width: 20px;
  height: 20px;
}

.easyButton{
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  border: none;
  background-color: rgb(232, 228, 228);
  padding: 0;
}

.easyButton:hover{
  cursor: pointer;
}

#saveButton {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 60px;
  height: 20px;
}

#eventSelectorMainTag{
  margin-left: 10px;
}

.normalButton{
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

.normalButton:hover {
  background-color: darkgray;
}

.scrapElement .input-row button {
  /* flex: 0 0 auto;  */
  margin-right: 5px; /* Marge entre les éléments */
}

#easyPanelCopyButton{
position: absolute;
right: 5px;
padding: 2px 6px;
}



.copyButton {
position: absolute;
right: 0px;
padding: 2px 6px;
}

.regexpButton{
  padding: 2px 6px;
}

#freezeDelimiterButton{
  padding: 1px 5px;
}

#switchPageButton{
  position: fixed;
  top: 20px; 
  right: 40px; 
  width: 23ch;
  padding: 5px 10px;
  z-index: 9999; /*on top*/
}

#logButton {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 20px;
    height: 20px;
}

#easyPanel{
  background-color: rgb(177, 187, 221);
}

  
.easyPanelLine{
  display: flex;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 1px;
}

.easyField{
  border: none;
  flex-grow: 1;
  height: 18px;
}

/* Style pour mettre en surbrillance l'option sélectionnée */
.languageItem.selected {
background-color: lightblue;
}

.SCRPXhighlightDummy{
  background-color: rgb(149, 165, 166);
}

.SCRPXhighlightName {
  background-color: rgb(52, 152, 219);
}

.SCRPXhighlightDate {
  background-color: rgb(46, 204, 113);
}

.SCRPXhighlightStyle {
  background-color: rgb(243, 156, 18);
}

.SCRPXhighlightPlace{
    background-color: rgb(155, 89, 182);
}

.SCRPXhighlightURL{
  background-color: rgb(241, 196, 15);
}


.SCRPXhighlightMultiName {
  border: 2px dashed rgb(42, 140, 205); 
}

.SCRPXhighlightMultiDate {
  border: 2px dashed rgb(31, 172, 90);
}

.SCRPXhighlightMultiStyle {
  border: 2px dashed rgb(216, 139, 15);
}

.SCRPXhighlightMultiPlace{
  border: 2px dashed rgb(129, 69, 152)
}

.SCRPXhighlightMultiURL{
  border: 2px dashed rgb(206, 167, 12);
}


.easyButtonName:hover{
  background-color: rgb(52, 152, 219);
}

.easyButtonDate:hover{
  background-color: rgb(46, 204, 113);
}

.easyButtonStyle:hover{
  background-color: rgb(243, 156, 18);
}

.easyButtonPlace:hover{
    background-color: rgb(155, 89, 182);
}

.easyButtonURL:hover{
  background-color: rgb(241, 196, 15);
}

.easyButtonDummy:hover{
    background-color: rgb(149, 165, 166);
}

.easyRemoveButton{
  border: none;
  font-weight: bold;
  color: white;
}

.easyRemoveButton:hover{
  background-color: rgb(230, 85, 109);
}

#saveButton:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  transition: background-color 0.3s ease;
}



.redFont {
  color: red;
}

.greyFont {
  color: grey;
}

.inactive{
  color: grey;
}

.blue-text {
  color: blue;
}

.normalPadding{
  padding: 5px 5px;
}

#logText {
    width: 87.6%;
    height: 200px;
    font-size: 75%;
    overflow-y: scroll; 
    resize: none;
    background-color: lightgray;
}

#logPanel {
  position: relative; /* Position relative pour positionner le bouton à l'intérieur */
  width: 100%;
  padding: 5px 10px;
  background-color: grey;
  overflow: hidden;
  flex: 0 0 auto;
}



.topElement{
  position: absolute;
  top: 15px;
}

.rightElement{
  position: absolute;
  right: 25px;
}

.bottomElement{
  position: absolute;
  bottom: 15px;
}

.bottomMargin{
  margin-bottom: 20px;
}

.smallBottomMargin{
  margin-bottom: 10px;
}

.verySmallBottomMargin{
  margin-bottom: 5px;
}

.miniBottomMargin{
  margin-bottom: 1px;
}

.leftMargin{
  margin-left: 20px;
}

.topMargin{
  margin-top: 20px;
}


#scrapOptionsPanel{
  background-color: rgb(71, 169, 234);
}



#processContainer {
    font-family: sans-serif;
    display: flex; /* Utiliser Flexbox pour le positionnement */
    height: 100vh;
    overflow-y: auto;
}

.rightJustif {
  text-align: right;
}

.leftPanel {
  width: 35%; /* Largeur de la partie gauche */
  background-color: #f0f0f0; /* Couleur de fond */
  overflow-y: hidden; /* Ajouter un défilement si le contenu est plus long que la zone */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#pageManager {
    position: relative; 
    background-color: rgb(61, 80, 100);
    color: rgb(236, 240, 241);
    overflow-y: hidden;
    flex: 0 0 auto;
  }

#analyzePanel{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 0 1 auto;
}

.title{
    font-weight: bold;
    margin-bottom: 5px;
}


.scrapElement{
    /*display: flex;
    flex-direction: column; 
    align-items: flex-start;*/
    padding: 5px 5px;
}


.scrapElement .input-row {
    width: 100%;
    margin-bottom: 0px;
    padding: 0px;
}

.scrapElement .input-row .eventStrings {
    /* flex: 1 0 80%;  */
    margin-right: 5px; /* Marge entre les éléments */
}


.scrapTextBoxStrings{
  background-color: rgb(107, 224, 180);
  padding: 2px 5px;
  min-height: 30px;
}

.scrapTextBox{
  width: calc(100% - 40px);
  border: none;
  padding: 2px 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 85%;
  resize: none;
  margin-bottom: 5px;
  min-height: calc(1ch + 10px);
}

.urlPanel{
    font-weight: normal;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.warning{
  color: rgb(253, 198, 111);
  font-weight: bold;
}

.rightPanel {
  width: 65%; /* Largeur de la partie droite */
  background-color: #d0d0d0; /* Couleur de fond */
  overflow-y: auto; /* Ajouter un défilement vertical si le contenu est plus long que la zone */
}
  

.SCRPXeventBlockInvalid {
  border: 2px dashed grey; 
  padding: 10px; 
  margin: 1px;
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
}
.SCRPXeventBlock {
  border: 2px solid black; 
  padding: 10px; 
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
  margin: 1px;
}

.focusedOn {
  border: 2px dashed rgb(231, 76, 60);; 
  padding: 10px; 
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
  margin: 1px;
}

.SCRPXmainTag {
  background-color: rgb(231, 76, 60);
}


.delimiterTagInput {
  width: calc(100%); /* Largeur ajustée en fonction de la marge */
  margin-top: 5px; 
  border: none;
  padding: 4px 5px;
  background-color: white;
  box-sizing: border-box;
}

.regexpTextBefore{
  margin: 0px;
  padding: 0px;
  font-size: 80%;
  color: rgb(45, 45, 45);
}

.regexpTextAfter{
  margin: 0px;
  padding: 0px;
  font-size: 80%;
  font-weight: bold;
  color: rgb(45, 45, 45);
}

.regexpPanel{
  margin: 0px;
  padding: 0px;
}

.regexpInput {
  width: calc(40%); /* Largeur ajustée en fonction de la marge */
  margin-top: 5px; 
  border: none;
  padding: 2px 5px;
  background-color: white;
  box-sizing: border-box;
}

#eventSelectorPanel{
  position: relative;
  background-color: rgb(61, 80, 100);
  padding: 5px;
}

#eventSelectorIndex{
  border: none;
}

#eventSelectorText{
  color: white;
  margin-right: 5px;
}

#delimiterPanel{
  position: relative;
  background-color: rgb(231, 76, 60);
  padding: 5px;
}

#eventURLPanel{
  position: relative;
}



.scrapTextBox:focus, input:focus {
    outline: 2px solid rgb(189, 195, 199); 
}

.eventTags{
  textarea {
    overflow: hidden; /* Empêche le défilement vertical */
    resize: none; /* Désactive la redimensionnement par l'utilisateur */
    width: 100%; /* Largeur maximale */
  }
}


.invalid{
  background-color: rgb(241, 197, 196);
  color: red;
}

#currentTabSelector{
   display: flex; 
   flex-direction: row;
   padding: 0px;
}

.tab{
  padding: 5px;
  margin: 0px;
  flex: 1;
  text-align: center;
  background-color: rgb(120, 122, 124);
}

.tab:hover{
  background-color: rgb(61, 80, 100);
  color: white;
}

.selectedTab{
  background-color: rgb(61, 80, 100);
  color: white;
}