body, html {
  margin: 0px;
  padding: 0px;
}
.container {
    margin: 20px;
}

#indexType{
  display: grid;
  grid-template-columns: 17ch 100px;
  gap: 10px; 
}

#divMPInfo{
  color: grey;
  font-style: italic;
  font-size: 85%;
}

#downloadPanel{
  margin: 0px;
  padding: 10px 10px;
}

.downLoadPanelOn{
  background-color: rgb(238, 240, 241);
}

.downLoadPanelOff{
  background-color: rgb(228, 237, 240);;
}

/* Style pour les boutons des options */
.niceButton {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.niceButtonNoMargin {
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
  
.scrapTextBox{
  width: 90%;
  border: 1px solid #ccc;
  padding: 5px 10px;
  background-color: white;
  font-family: sans-serif;
  font-size: 85%;
  resize: none;
}
/* Style pour mettre en surbrillance l'option sélectionnée */
.languageItem.selected {
background-color: lightblue;
}



.venueHeader{
  background-color: rgb(103, 158, 182);
  width: 100%;
  margin: 0px;
  padding: 20px 20px;
  font-family: sans-serif;
  margin-bottom: 20px;
  box-sizing: border-box;
  max-width: 100%;
}

.infoPanel{
  background-color: rgb(228, 237, 240);
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px 20px;
  font-family: sans-serif;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
}

.venueName{
  font-size: 24px; 
  padding: 0px 0px;
  font-weight: bold; 
  font-family: sans-serif;
  margin-bottom: 20px;
}


.multipageBlock{
  background-color: lightgrey;
}

.highlightName {
  background-color: rgb(99, 123, 248);
}

.highlightDate {
  background-color: rgb(116, 207, 127);
}

.highlightStyle {
  background-color: rgb(147, 88, 104);
}

.languageItem.unavailable {
  color: red;
}

.invalid{
  background-color: rgb(241, 148, 146);
}

.alertBlock {
  color: red;
}

.redFont {
  color: red;
}

.greyFont {
  color: grey;
}

.inactive{
  color: grey;
}

.blue-text {
  color: blue;
}

#logText {
  width: 400px;
  height: 200px;
  overflow-y: scroll; 
}

.VenueTextArea {
  resize: none;
  background-color: white;
  font-family: sans-serif;
}

#textURL {
  width: 60ch; 
  border: 1px solid #ccc; 
  background-color: white;
}

#addVenueBtn{
  margin-left: 100px;
}

#pageManager {
  position: relative; /* Position relative pour positionner le bouton à l'intérieur */
  width: 400px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid #ccc;
  overflow: hidden;
}

#logPanel {
  position: relative; /* Position relative pour positionner le bouton à l'intérieur */
  width: 400px;
  height: 220px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.compact-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

.topElement{
  position: absolute;
  top: 15px;
}

.rightElement{
  position: absolute;
  right: 25px;
}

.bottomElement{
  position: absolute;
  bottom: 15px;
}

.bottomMargin{
  margin-bottom: 20px;
}

.smallBottomMargin{
  margin-bottom: 10px;
}

.miniBottomMargin{
  margin-bottom: 1px;
}

.leftMargin{
  margin-left: 20px;
}

.topMargin{
  margin-top: 20px;
}


.modifyButton{
  position: absolute;
  top: 15px;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  background-image: url('icon-edit.png');
  background-repeat: no-repeat; /* Ne pas répéter l'image */
  background-position: center; /* Centrer l'image */
  background-size: 12px 12px;
  border: none;
  cursor: pointer;
  
}

.compact-button:hover {
  background-color: darkgray;
}

.processContainer {
  display: flex; /* Utiliser Flexbox pour le positionnement */
  height: 100vh; /* Hauteur de la fenêtre visible */
}

.leftPanel {
  width: 35%; /* Largeur de la partie gauche */
  background-color: #f0f0f0; /* Couleur de fond */
  overflow: auto; /* Ajouter un défilement si le contenu est plus long que la zone */
}

.rightPanel {
  width: 65%; /* Largeur de la partie droite */
  background-color: #d0d0d0; /* Couleur de fond */
  overflow-y: auto; /* Ajouter un défilement vertical si le contenu est plus long que la zone */
}
  

.encadre {
  border: 1px solid black; /* Définit une bordure solide d'un pixel en noir */
  padding: 10px; /* Ajoute un espacement intérieur de 10 pixels pour séparer le contenu de la bordure */
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
}

.mainTag {
  background-color: rgb(255, 107, 107);
}