/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
} */

/* bg colors*/

:root {
  --venue-info-bg-color: rgb(44, 62, 80);  
  --pagemanager-bg-color: rgb(61, 80, 100);


  --easy-panel-bg-color: hsl(226, 39%, 78%);
  --easy-panel-lighter-color: hsl(226, 37%, 89%);
  --easy-panel-font-color: hsl(226, 30%, 50%);

  --easybutton-inactive-color: rgb(187, 196, 227);


  --delimiter-bg-color: rgb(231, 76, 60);
  --delimiter-font-color: rgb(54, 12, 7);
  --delimiter-lighter-color: rgb(242, 91, 75);
  --delimiter-button-color: rgb(223, 135, 125);
  --delimiter-lightest-color: rgb(248, 213, 209);

  --pagemanager-white-font: rgb(236, 240, 241);
  --easybutton-white-bg: rgb(232, 228, 228); 

  --name-bg-color: rgb(52, 152, 219);
  --name-bg-color-a: rgba(52, 152, 219,0.8);

  --date-bg-color: rgb(46, 204, 113);
  --date-bg-color-a: rgba(46, 204, 113, 0.8);

  --style-bg-color: rgb(243, 156, 18);
  --style-bg-color-a: rgba(243, 156, 18,0.8);

  --place-bg-color: rgb(155, 89, 182);
  --place-bg-color-a: rgba(155, 89, 182, 0.8);

  --url-bg-color: rgb(241, 196, 15);
  --url-bg-color-a: rgba(241, 196, 15, 0.8);

  --verydarkgrey-font-color: rgb(45, 45, 45);
}

.nameTheme{
  --active-color: var(--category-gb-color);
}

.redFont {
  color: red;
}

.warningFont {
  color: rgb(225, 206, 29);
}

.subPanel {
  border: 0px;
  padding: 2px 5px;
  background-color: var(--category-bg-color);
}

#dateFormatPanel{
  border: 0px;
  padding: 2px 5px;
  background-color: var(--date-bg-color);
}




.venueInfoBgColor{
  background-color: var(--venue-info-bg-color);
}

.easyPanelBgColor{
  background-color: var(--easy-panel-bg-color);
}

.easyPanelFontColor{
  color: var(--easy-panel-font-color); 
}

.easyPanelLighterBgColor{
  background-color: var(--easy-panel-lighter-color);
}

.delimiterBgColor{
  background-color: var(--delimiter-bg-color);
}

.delimiterFontColor{
  color: var(--delimiter-font-color);
}

.delimiterLighterBgColor{
  background-color: var(--delimiter-lighter-color);
}

.delimiterButtonColor{
  background-color: var(--delimiter-button-color);
}

.delimiterLightestBgColor{
  background-color: var(--delimiter-lightest-color);
}

.mainFont {
  color: var(--delimiter-bg-color) !important;
}

body {
  font-family: 'Montserrat', sans-serif;
}


div a {
    pointer-events: none;
}

body, html {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
}
.container {
    margin: 20px;
}



#venueInfo{
  font-family: "Montserrat", sans-serif;
    font-size: 105%;
      padding: 5px 5px;
      font-weight: bold;
      color: var(--pagemanager-white-font);
      overflow-y: hidden;
}

#pageManagerDetailsPanel{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
}


/* Style pour les boutons des options */

.venueInfoButton{
  width: 18ch;
}

.topRightButton{
    position: absolute;
    top: 5px;
    right: 5px;
}

.compact-button {
  width: 20px;
  height: 20px;
}

.easyButton{
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  border: none;
  padding: 0;
  --inactive-color: var(--easybutton-inactive-color);
  background-color: var(--category-bg-color);
}

/* inactive is used to prevent buttons from working*/
.easyButton.inactive, .easyButton.inactiveURL{
  background-color: var(--inactive-color) !important;
}

.easyButton:not(.inactive):not(.inactiveURL):not(.activeButton):not(:hover){
  background-color: var(--easybutton-white-bg);
}

.easyButton:not(.inactive):not(.inactiveURL):not(.activeButton):hover{
  opacity: 0.5;
}

.easyButton.inactive:hover, .easyButton.inactiveURL:hover{
  cursor: default;
}

.easyButton:hover{
  cursor: pointer;
}

.pointer:hover{
  cursor: pointer !important;
}


#saveButton {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 60px;
  height: 20px;
}

#eventSelectorMainTag{
  margin-left: 10px;
}

.normalButton{
  background-color: lightgray;
  border: none;
}

.lockButton {
  font-size: 10px;
  border: 2px solid var(--easy-panel-font-color);
  color: var(--easy-panel-font-color);
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
}

.niceAdjustTagContainer{
  border: 2px solid var(--easy-panel-font-color);
  color: var(--easy-panel-font-color);
  border-radius: 5px;
  padding: 1px;
}

.niceInputEasyPanel{
  border: 0px;
   border-radius: 3px;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"].eventInput::-webkit-inner-spin-button,
input[type="text"].eventInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Style du conteneur */
.number-input-container {
  display: flex;
  align-items: center;
}

.number-input-button-group{
  display: flex;
  flex-direction: column;
}

/* Style de l'input */
input[type="number"] {
  padding-left: 3px;
  position: relative;
  left: 12px;
  text-align: left;
}

input[type="text"].eventInput {
  padding-left: 3px;
  position: relative;
  left: 12px;
  text-align: left;
}

.roundBorder{
  /* border: 2px solid black; */
  border-radius: 3px;
}

/* Style des boutons personnalisés */
.spin-button {
  border: 1px solid #ccc;
  padding: 0px;
  cursor: pointer;
  font-size: 6px;
  width: 12px;
  text-align: center;
  position: relative;
  right: 1px;
  border-radius: 2px;
}

/* Couleur des boutons au survol */
.spin-button.easyPanelBgColor:hover {
  background-color: var(--easy-panel-font-color);
  color: white;
}

.spin-button.delimiterButtonColor:hover {
  background-color: var(--delimiter-lighter-color);
  color: white;
}


/* Effet au clic sur les flèches */
.spin-button:active {
  background-color: darkgray;
}


.lockButton:hover {
  background-color: var(--easy-panel-lighter-color);;
}

.activeLink:hover {
  color: white;
  background-color: var(--delimiter-lighter-color);
  cursor: pointer;
}

.activeButton:not(.inactive):hover {
  background-color: darkgray;
  cursor: pointer;
}

.activeGroupTagButton:hover {
  background-color: darkgray;
}



/* #groupTagsButton{
position: absolute;
right: 5px;
padding: 2px 6px;
cursor: pointer;
} */

.groupTagsButton, .regexActivateButton{
  cursor: pointer;
} 

.groupTagsButton:hover, .regexActivateButton:hover{
  background-color: darkgray;
} 

.panelHeader{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
}

.headerButtons{
  display: flex;
    gap: 2px; 
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne */
    min-width: 0;
    overflow: hidden;
}

.copyButton {
position: absolute;
right: 0px;
padding: 2px 6px;
}

.regexpButton{
  padding: 2px 6px;
}

.regexpResult{
  margin: 0px;
  padding: 0px;
}

#freezeDelimiterButton{
  padding: 1px 5px;
}

#switchPageButton{
  position: fixed;
  top: 20px; 
  right: 40px; 
  width: 23ch;
  padding: 5px 10px;
  z-index: 9999; /*on top*/
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

#logButton {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 20px;
    height: 20px;
}

  
.easyPanelLine{
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.easyPanelLine:has(+ .easyPanelLine) {
  margin-bottom: 2px;
}

.subEventRightDiv{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%; 
  align-items: stretch;
  /* align-items: center; */
  margin: 0px;
}


.easyField{
  border: none;
  flex: 1 1 auto;
  min-width: 10px;
  height: 18px;
  width: 100%;
}

/* Style pour mettre en surbrillance l'option sélectionnée */
.languageItem.selected {
background-color: lightblue;
}

.SCRPXhighlightUnknown{
  background-color: rgb(120, 122, 124);
}
.SCRPXhighlightName {
  background-color: var(--name-bg-color);
}

.SCRPXhighlightName.subEvent {
  background-color: var(--name-bg-color-a);
}

.SCRPXhighlightDate {
  background-color: rgb(46, 204, 113);
}

.SCRPXhighlightDate.subEvent {
  background-color: rgba(46, 204, 113, 0.8);
}

.SCRPXhighlightStyle {
  background-color: rgb(243, 156, 18);
}

.SCRPXhighlightStyle.subEvent {
  background-color: rgba(243, 156, 18,0.8);
}

.SCRPXhighlightPlace{
    background-color: var(--place-bg-color);
}

.SCRPXhighlightPlace.subEvent{
  background-color: var(--place-bg-color-a);
}

.SCRPXhighlightURL:not(.SCRPXhighlightName):not(.SCRPXhighlightDate):not(.SCRPXhighlightStyle):not(.SCRPXhighlightPlace){
  background-color: var(--url-bg-color);
}

.SCRPXhighlightURL.subEvent:not(.SCRPXhighlightName):not(.SCRPXhighlightDate):not(.SCRPXhighlightStyle):not(.SCRPXhighlightPlace){
  background-color: var(--url-bg-color-a);
} */

.SCRPXshadow{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.easyFieldBg{
  opacity: 0.5;
}


.SCRPXhighlightURL{
  background-image: repeating-linear-gradient(
    90deg,        
    var(--url-bg-color) 0px,  
    var(--url-bg-color) 30px,
    transparent 30px, 
    transparent 60px 
  );
}


.easyRemoveButton{
  border: none;
  font-weight: bold;
  color: white;
}

.easyRemoveButton:hover{
  background-color: rgb(230, 85, 109);
}

.effectButton:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  color: rgb(210, 210, 210);
  transition: background-color 0.8s ease;
}





.inactive{
  color: grey;
}


.normalPadding{
  padding: 5px 5px;
}

#logText {
    width: 87.6%;
    height: 200px;
    font-size: 75%;
    overflow-y: scroll; 
    resize: none;
    background-color: lightgray;
}

#logPanel {
  position: relative; /* Position relative pour positionner le bouton à l'intérieur */
  width: 100%;
  padding: 5px 10px;
  background-color: grey;
  overflow: hidden;
  flex: 0 0 auto;
}



.topElement{
  position: absolute;
  top: 15px;
}

.rightElement{
  position: absolute;
  right: 25px;
}

.bottomElement{
  position: absolute;
  bottom: 15px;
}

.bottomMargin{
  margin-bottom: 20px !important;
}

.smallBottomMargin{
  margin-bottom: 10px !important;
}

.verySmallBottomMargin{
  margin-bottom: 5px !important;
}

.miniBottomMargin{
  margin-bottom: 1px;
}

.leftMargin{
  margin-left: 20px;
}

.rightMargin{
  margin-right: 5px;
}

.topMargin{
  margin-top: 20px;
}



#scrapOptionsPanel{
  background-color: rgb(71, 169, 234);
}




#processContainer {
    font-family: "Montserrat", sans-serif;
    display: flex; /* Utiliser Flexbox pour le positionnement */
    height: 100vh;
    overflow-y: auto;
}

.rightJustif {
  text-align: right;
}

.leftPanel {
  width: 35%; /* Largeur de la partie gauche */
  background-color: #f0f0f0; /* Couleur de fond */
  overflow-y: hidden; /* Ajouter un défilement si le contenu est plus long que la zone */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#pageManager {
    position: relative; 
    background-color: var(--pagemanager-bg-color);
    color: var(--pagemanager-white-font);
    overflow-y: hidden;
    flex: 0 0 auto;
  }

#analyzePanel{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 0 1 auto;
}

.title{
    font-weight: bold;
    /* margin-bottom: 5px; */
}


/* .subEvent{
  opacity: 0.8;
} */


.scrapTextBox{
  width: calc(100% - 10px);
  /* width: 100%; */
  border: none;
  padding: 2px 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 85%;
  resize: none;
  margin-bottom: 0px;
  margin-right: 5px;
  /* min-height: calc(1ch + 10px); */
}

.urlPanel{
    font-weight: normal;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.warning{
  color: rgb(253, 198, 111);
  font-weight: bold;
}

.rightPanel {
  padding: 20px;
  width: 65%; /* Largeur de la partie droite */
  background-color: #e2d9cd; /* Couleur de fond */
  overflow-y: auto; /* Ajouter un défilement vertical si le contenu est plus long que la zone */
}
  

.SCRPXeventBlockInvalid {
  border: 2px dashed grey; 
  padding: 10px; 
  margin: 1px;
  background: repeating-linear-gradient(
    -45deg,        
    transparent,      
    transparent 10px, 
    grey 10px, 
    grey 12px 
  );
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
}
.SCRPXeventBlock {
  border: 2px solid black; 
  padding: 5px; 
  padding-left: 25px;
  display: inline-block; 
  margin: 1px;
  background-color: rgba(231, 76, 60, 0.2);
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}


.SCRPXlinkedPageMainBlock.SCRPXeventBlock {
  border: 2px solid black; 
  padding: 0px; 
  padding-left: 0px;
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
  margin: 1px;
  background-color: rgba(36, 165, 105, 0.2);
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.SCRPXsubEvent{
  border: 2px solid var(--verydarkgrey-font-color); 
  margin-bottom: 3px;
}


custom-a {
  color: blue;
  text-decoration: underline;
  display: block; 
  padding: 5px;
}

.SCRPXsubEventHeader{
  margin: 0px;
  padding: 1px;
  font-size: 40%;
  font-weight: bold;
  text-decoration: none !important;
  color: rgb(254, 243, 243);
  background-color: var(--verydarkgrey-font-color);
}

.SCRPXlinkedPageEventHeader{
  margin: 0px;
  padding: 1px;
  font-weight: bold;
  color: rgb(254, 243, 243);
  background-color: var(--verydarkgrey-font-color);
}

.SCRPXeventBlockWithURL{
  outline: 4px solid var(--url-bg-color);  
  outline-offset: -5px;
}

.focusedOn {
  border: 2px solid var(--delimiter-bg-color);
  padding: 10px; 
  display: inline-block; 
  margin: 1px;
}

.SCRPXmainTag {
  background-color: var(--delimiter-bg-color);
}

.delimiterTagInput {
  width: calc(100%); /* Largeur ajustée en fonction de la marge */
  box-sizing: border-box;
  margin-top: 5px; 
  border: none;
  padding: 4px 5px;
  background-color: white;
  box-sizing: border-box;
}

.regexpTextBefore{
  margin: 0px;
  padding: 0px;
  font-size: 80%;
  color: var(--verydarkgrey-font-color);
}

.regexpTextAfter{
  margin: 0px;
  padding: 2px 0px;
  font-size: 80%;
  font-weight: bold;
  color: var(--verydarkgrey-font-color);
}

.regexpPanel{
  margin: 0px;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 2px;
  background-color: var(--category-bg-color);
}

.regexpInput {
  width: calc(44%); /* Largeur ajustée en fonction de la marge */
  margin-top: 2px; 
  border: none;
  padding: 2px 5px;
  background-color: white;
  box-sizing: border-box;
}

#eventSelectorPanel{
  background-color: var(--delimiter-lighter-color);
  padding: 2px 2px;
  border-radius: 3px;
}

.delimiterPanelHeader{
  width: calc(100%);
  box-sizing: border-box;
  padding: 0px;
}  

.tag-button {
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(223, 137, 127, 0.6);
  border: 0px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  opacity: 1;
}

.tag-button:hover{
  background-color: rgba(223, 137, 127, 1);
}

#eventSelectorIndex{
  box-sizing: border-box;
  max-width: 100%;
  border: none;
}

#eventSelectorText{
  color: white;
  margin-right: -5px;
}

#delimiterPanel{
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding: 5px;
}

/* #eventURLPanel{
  position: relative;
} */



.scrapTextBox:focus {
    outline: 2px solid rgb(189, 195, 199); 
}

input:focus {
 outline: 0px;
}

.eventTags{
  textarea {
    overflow: hidden; /* Empêche le défilement vertical */
    resize: none; /* Désactive la redimensionnement par l'utilisateur */
    width: 100%; /* Largeur maximale */
  }
}

.sliderCheckBox{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
  display: inline;
}

/* .sliderLeftPanel{
  display: inline;
  white-space: nowrap;
  flex: 1;
} */



.sliderLeftPanel, .panelWithSlider, .adjustURLCheckbox{
  display: flex;
  width: 100%;
  justify-content: normal; 
  /* align-items: center;  */
  /* flex: 1; */
  flex-direction: row;
  /* flex-wrap: nowrap; */
  white-space: nowrap;
  gap: 0px;
  margin: 0px;
}

.niceCheckBox{
  display: flex;
  align-items: center; 
}




.invalid{
  background-color: rgb(241, 197, 196);
  color: red;
}



input[type="number"] {
  -moz-appearance: textfield; /* Forcer l'affichage sur Firefox */
  appearance: auto; /* Forcer sur Chrome/Electron */
}




/* context menu */

.context-menu {
  position: absolute;
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 2px;
  display: none;
  z-index: 1000;
  font-family: sans-serif;
}

/* Boutons carrés */
.menu-buttons {
  display: flex;
  gap: 2px;
  margin-bottom: 1px;
  padding: 0px;
}

.menu-buttons button {
  width: 40px;
  height: 40px;
  border: 1px solid #aaa; 
  cursor: pointer;
  text-align: center;
  padding: 0px;
  margin: 0px;
}


/* Option "Événement multiple" */
.multiple-event {
  margin-top: 2px;
  text-align: center;
  padding: 2px;
  background: #f0f0f0;
  border: 1px solid #aaa;
  cursor: pointer;
}

.multiple-event:hover {
  background: #e0e0e0;
}

/* .multiEventEasyPanelGroup{
  outline: 2px solid rgb(45,45,45); 
  margin-bottom: 4px;
  margin-top: 2px;
  box-sizing: border-box;
} */

.multiEventEasyPanelGroup{
  outline: 2px solid rgb(45,45,45); 
  margin-bottom: 4px;
  margin-top: 4px;
  box-sizing: border-box;
  display: flex;
}

.PanelSubEventHeader{
  margin: 0px;
  padding: 1px;
  font-size: 50%;
  font-weight: bold;
  text-decoration: none !important;
  color: rgb(254, 243, 243);
  background-color: var(--verydarkgrey-font-color);
  justify-content: center; 
  align-items: center;
  text-align: center;
  width: 10px;
  writing-mode: vertical-lr; /* rotate text */
  /* text-orientation: upright; */
}

/* .multiEventEasyPanelGroup:has(+ .PanelSubEventHeader) {
  margin-bottom: 6px;
} */

.multiEventEasyPanelGroup:has(+ .multiEventEasyPanelGroup) {
  margin-bottom: 5px;
}

.SCRPXmouseHighlight{
  background-color: rgba(54, 54, 54, 0.1); 
  transition: background-color 0.1s ease; 
}

.SCRPXmouseHighlight2{
  /* background-color: rgba(218, 55, 55, 1);  */
  opacity: 0.8;
  transition: background-color 0.1s ease; 
}


/* checkboxes */

/* fieldset {
  display: block;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

label.niceCheckBox {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin: 1em;
  position: relative; 
  left: 16px;
}

label.niceCheckBox.useLinks {
  left: -2px !important;
}
  

label.niceCheckBox > input {
  display: none;
}

label.niceCheckBox > span {
  /* color: #6A759B; */
  color: rgb(229, 129, 118);
  padding-right: 8px;
}

label.niceCheckBox.useLinks > span {
  color: rgb(91, 110, 131) !important;
}

label.niceCheckBox.useLinks > input:checked + span {
  color: var(--pagemanager-white-font) !important;
}

label.niceCheckBox > i {
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  vertical-align: middle;
  transition: .25s .09s;
  position: relative;
  background: #deeff7;
  top: -1px;
}

label.niceCheckBox > i:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 3px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  box-shadow: 1px 2px 4px 0 rgba(#000, .4);
  transition: .15s;
}

label.niceCheckBox>input:checked+span+i {
  background: #1094fb;
}

label.niceCheckBox >input:checked+span+i:after {
  transform: translateX(18px);
}


label.niceCheckBox > input:checked + span {
  color: #29316b;
}



.loader {
  width: 16px;
  height: 16px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 


	  

.reloadSingle {
  position: relative;
  height: 16px;
  padding: 3px;
  width: 16px;
  &:before, &:after {
    content: '';
    display: block;
  }
  &:before {
    border-color: transparent white white white;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 12px;
    width: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 3px 0 3px 5px;
    height: 0;
    position: absolute;
    top: 1.5px;
    left: 50%;
    width: 0;
  }
}

.reloadSingle:hover {
  background-color: rgb(72, 90, 109);
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
}
