/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
} */

/* bg colors*/

:root {

  /* page manager color theme */
  --venue-info-bg-color: rgb(44, 62, 80);  
  --pagemanager-bg-color: rgb(61, 80, 100);

  --pm-button-hover-color: rgb(72, 90, 109);
  --pm-inactive-font-color: rgb(91, 110, 131);

  /* easypanel */
  --easy-panel-bg-color: hsl(226, 39%, 78%);
  --easy-panel-lighter-color: hsl(226, 37%, 89%);
  --easy-panel-font-color: hsl(226, 30%, 50%);

  --easypanel-subevent-color: rgb(45,45,45);

  --easybutton-inactive-color: rgb(187, 196, 227);
  --easybutton-white-bg: rgb(232, 228, 228); 
  --easybutton-remove-font-color: white;

  /* delimiter panel */
  --delimiter-bg-color: rgb(231, 76, 60);
  --delimiter-font-color: rgb(54, 12, 7);
  --delimiter-lighter-color: rgb(242, 91, 75);
  --delimiter-button-color: rgb(223, 135, 125);
  --delimiter-lightest-color: rgb(248, 213, 209);

  --delimiter-inactive-font-color: hsl(6, 52%, 40%);

  --dimmed-white-font: rgb(236, 240, 241);

  /* keywords panels and highlights */

  --xxx-bg-color-alt: 10;
  --xxx-font-color: -10;
  --xxx-lighter-color: 20;
  --xxx-inactive-font:10;
  --xxx-inactive-font-alt: 20;


  --name-bg-color: hsl(204, 70%, 53%);
  /*--name-bg-color-alt: hsl(204, 70%, 63%);  hsl: l: 53% -> 63% (+10%) relative to normal color  
  --name-font-color: hsl(204, 70%, 38%); /-15%  
  --name-lighter-color: hsl(204, 70%, 73%); /* +20%  
  --name-inactive-font: hsl(204, 70%, 63%);/* +10%  
  --name-inactive-font-alt: hsl(204, 70%, 73%);+20% */

  --date-bg-color: hsl(145, 63%, 49%);

  --style-bg-color: hsl(37, 90%, 51%);

  --place-bg-color: hsl(283, 39%, 53%);

  --url-bg-color: hsl(48, 89%, 50%);

  --unknown-color: rgb(120, 122, 124);

  /* log panel */

  --logpanel-bg-color: grey;
  --logpanel-textzone-bg-color: lightgrey;

  /* colors for event blocks */

  --eventblock-border-color: black;

  --eventblock-bg-color: rgba(231, 76, 60, 0.2);
  --linkedpage-eventblock-bg-color: rgba(36, 165, 105, 0.2);

  --extend-button-bg-color: rgba(223, 137, 127, 0.6);
  --extend-button-hover-bg-color: rgba(223, 137, 127, 1);

  /* sub events */

  /* context menu */

  --contextmenu-bg-color: rgb(240, 235, 235);
  --contextmenu-border-color: #aaa;
  --contextmenu-subevent-bg-color: #f0f0f0;
  --contextmenu-subevent-hoover-bg-color: #e0e0e0;

  /* scrollbar */

  --scrollbar-color: hsl(216, 22%, 61%);
  --scrollbar-bg: var(--easybutton-white-bg);
  --scrollbar-hover:hsl(216, 22%, 66%);
  
  /* other colors */
  --verydarkgrey-font-color: rgb(45, 45, 45);

  --shadow-color: rgba(0, 0, 0, 0.4);
  --light-shadow-color: rgba(0, 0, 0, 0.2);
  --mouse-over-bg-color: rgba(54, 54, 54, 0.1);

  --red-font: rgb(243, 73, 70);
  --warning-font: rgb(225, 206, 29);

  --textbox-focus-color: rgb(189, 195, 199); 
  --default-hover-color: darkgrey;

  --custom-tags-color: blue;
}

.redFont {
  color: red;
}

.warningFont {
  color: var(--warning-font);
}

.subPanel {
  border: 0px;
  padding: 2px 5px;
  background-color: var(--category-bg-color);
}

#dateFormatPanel{
  border: 0px;
  padding: 2px 5px;
  background-color: var(--date-bg-color);
}




.venueInfoBgColor{
  background-color: var(--venue-info-bg-color);
}

.easyPanelBgColor{
  background-color: var(--easy-panel-bg-color);
}

.easyPanelFontColor{
  color: var(--easy-panel-font-color); 
}

.easyPanelLighterBgColor{
  background-color: var(--easy-panel-lighter-color);
}

.delimiterBgColor{
  background-color: var(--delimiter-bg-color);
}

.delimiterFontColor{
  color: var(--delimiter-font-color);
}

.delimiterLighterBgColor{
  background-color: var(--delimiter-lighter-color);
}

.delimiterButtonColor{
  background-color: var(--delimiter-button-color);
}

.delimiterLightestBgColor{
  background-color: var(--delimiter-lightest-color);
}

.mainFont {
  color: var(--delimiter-bg-color) !important;
}

body {
  font-family: 'Montserrat', sans-serif;
}


div a {
    pointer-events: none;
}

body, html {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
}
.container {
    margin: 20px;
}



#venueInfo{
  font-family: "Montserrat", sans-serif;
    font-size: 105%;
      padding: 5px 5px;
      font-weight: bold;
      color: var(--dimmed-white-font);
      overflow-y: hidden;
}

#pageManagerDetailsPanel{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
}


/* Style pour les boutons des options */

.venueInfoButton{
  width: 18ch;
}

.topRightButton{
    position: absolute;
    top: 5px;
    right: 5px;
}

.compact-button {
  width: 20px;
  height: 20px;
}

.easyButton{
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  border: none;
  padding: 0;
  --inactive-color: var(--easybutton-inactive-color);
  background-color: var(--category-bg-color);
}

/* inactive is used to prevent buttons from working*/
.easyButton.inactive, .easyButton.inactiveURL{
  background-color: var(--inactive-color) !important;
}

.easyButton:not(.inactive):not(.inactiveURL):not(.activeButton):not(:hover){
  background-color: var(--easybutton-white-bg);
}

.easyButton.eventTagTypeButton:not(.inactive):not(.inactiveURL):not(.activeButton):hover{
  opacity: 0.5;
}

.easyButton.inactive:hover, .easyButton.inactiveURL:hover{
  cursor: default;
}

.easyButton:hover{
  cursor: pointer;
}

.pointer:hover{
  cursor: pointer !important;
}


#saveButton {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 60px;
  height: 20px;
}

#eventSelectorMainTag{
  margin-left: 10px;
}

.normalButton{
  background-color: lightgray;
  border: none;
}

.lockButton {
  font-size: 10px;
  border: 2px solid var(--easy-panel-font-color);
  color: var(--easy-panel-font-color);
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
}

.niceAdjustTagContainer{
  border: 2px solid var(--easy-panel-font-color);
  color: var(--easy-panel-font-color);
  border-radius: 5px;
  padding: 1px;
}

.niceInputEasyPanel{
  border: 0px;
   border-radius: 3px;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"].eventInput::-webkit-inner-spin-button,
input[type="text"].eventInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Style du conteneur */
.number-input-container {
  display: flex;
  align-items: center;
}

.number-input-button-group{
  display: flex;
  flex-direction: column;
}

/* Style de l'input */
input[type="number"] {
  padding-left: 3px;
  position: relative;
  left: 12px;
  text-align: left;
}

input[type="text"].eventInput {
  padding-left: 3px;
  position: relative;
  left: 12px;
  text-align: left;
}

.roundBorder{
  /* border: 2px solid black; */
  border-radius: 3px;
}

/* Style des boutons personnalisés */
.spin-button {
  border: 1px solid #ccc;
  padding: 0px;
  cursor: pointer;
  font-size: 6px;
  width: 12px;
  text-align: center;
  position: relative;
  right: 1px;
  border-radius: 2px;
}

/* Couleur des boutons au survol */
.spin-button.easyPanelBgColor:hover {
  background-color: var(--easy-panel-font-color);
  color: var(--dimmed-white-font);
}

.spin-button.delimiterButtonColor:hover {
  background-color: var(--delimiter-lighter-color);
  color: var(--dimmed-white-font);
}


/* Effect when clicking on the arrows */
.spin-button:active {
  background-color: darkgray;
}


.lockButton:hover {
  background-color: var(--easy-panel-lighter-color);;
}

.activeLink:hover {
  color: white;
  background-color: var(--delimiter-lighter-color);
  cursor: pointer;
}

.activeButton:not(.inactive):hover {
  background-color: darkgray !important;
  color: var(--dimmed-white-font) !important;
  cursor: pointer;
}

/* panel buttons */

.panelButton{
  background-color: var(--category-bg-color);
  border: 2px solid var(--category-bg-color);
  font-weight: bold;
  border-radius: 5px;
  color: var( --category-inactive-font);
  cursor: pointer;
} 

.panelButton.active{
  background-color: var(--category-bg-color);
  border: 2px solid var(--category-font-color);
  color: var(--category-font-color);
}


.panelButton:hover{
  background-color: var(--category-lighter-color);
}

/* .activeGroupTagButton:hover {
  background-color: var(--default-hover-color);
} */

.panelHeader{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
}

.headerButtons{
  display: flex;
    gap: 2px; 
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne */
    min-width: 0;
    overflow: hidden;
}

.copyButton {
position: absolute;
right: 0px;
padding: 2px 6px;
}

.regexpButton{
  padding: 2px 6px;
}

.regexpResult{
  margin: 0px;
  padding: 0px;
}

#freezeDelimiterButton{
  padding: 1px 5px;
}

#switchPageButton{
  position: fixed;
  top: 20px; 
  right: 40px; 
  width: 23ch;
  text-align: center;
  padding: 5px 10px;
  z-index: 9999; /*on top*/
  box-shadow: 2px 2px 5px var(--shadow-color);
}

#logButton {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 20px;
    height: 20px;
}

  
.easyPanelLine{
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.easyPanelLine:has(+ .easyPanelLine) {
  margin-bottom: 2px;
}

.subEventRightDiv{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%; 
  align-items: stretch;
  /* align-items: center; */
  margin: 0px;
}


.easyField{
  border: none;
  flex: 1 1 auto;
  min-width: 10px;
  height: 18px;
  width: 100%;
}

.SCRPXhighlightUnknown{
  background-color: var(--unknown-color);
}
.SCRPXhighlightName {
  background-color: var(--name-bg-color);
}

.SCRPXhighlightName.subEvent {
  background-color: var(--name-bg-color-alt);
}

.SCRPXhighlightDate {
  background-color: var(--date-bg-color);
}

.SCRPXhighlightDate.subEvent {
  background-color: var(--date-bg-color-alt);
}

.SCRPXhighlightStyle {
  background-color: var(--style-bg-color);
}

.SCRPXhighlightStyle.subEvent {
  background-color: var(--style-bg-color-alt);
}

.SCRPXhighlightPlace{
    background-color: var(--place-bg-color);
}

.SCRPXhighlightPlace.subEvent{
  background-color: var(--place-bg-color-alt);
}

.SCRPXhighlightURL:not(.SCRPXhighlightName):not(.SCRPXhighlightDate):not(.SCRPXhighlightStyle):not(.SCRPXhighlightPlace){
  background-color: var(--url-bg-color);
}

.SCRPXhighlightURL.subEvent:not(.SCRPXhighlightName):not(.SCRPXhighlightDate):not(.SCRPXhighlightStyle):not(.SCRPXhighlightPlace){
  background-color: var(--url-bg-color-alt);
} */

.SCRPXshadow{
  box-shadow: 0 0 10px var(--shadow-color); 
}

.easyFieldBg{
  opacity: 0.5;
}


.SCRPXhighlightURL{
  background-image: repeating-linear-gradient(
    90deg,        
    var(--url-bg-color) 0px,  
    var(--url-bg-color) 30px,
    transparent 30px, 
    transparent 60px 
  );
}


.easyRemoveButton{
  border: none;
  font-weight: bold;
  color: var(--easybutton-remove-font-color);
}

.easyRemoveButton:hover{
  background-color: var(--red-font);
}

.effectButton:active {
  box-shadow: 0 0 10px var(--shadow-color); 
  color: var(--dimmed-white-font);
  transition: background-color 0.8s ease;
}



.inactive{
  color: grey;
}


.normalPadding{
  padding: 5px 5px;
}

#logText {
    width: 87.6%;
    height: 200px;
    font-size: 75%;
    overflow-y: scroll; 
    resize: none;
    background-color: var(--logpanel-textzone-bg-color);
}

#logPanel {
  position: relative; 
  width: 100%;
  padding: 5px 10px;
  background-color: var(--logpanel-bg-color);
  overflow: hidden;
  flex: 0 0 auto;
}



.topElement{
  position: absolute;
  top: 15px;
}

.rightElement{
  position: absolute;
  right: 25px;
}

.bottomElement{
  position: absolute;
  bottom: 15px;
}

.bottomMargin{
  margin-bottom: 20px !important;
}

.smallBottomMargin{
  margin-bottom: 10px !important;
}

.verySmallBottomMargin{
  margin-bottom: 5px !important;
}

.miniBottomMargin{
  margin-bottom: 1px;
}

.leftMargin{
  margin-left: 20px;
}

.rightMargin{
  margin-right: 5px;
}

.topMargin{
  margin-top: 20px;
}



#processContainer {
    font-family: "Montserrat", sans-serif;
    display: flex; /* Utiliser Flexbox pour le positionnement */
    height: 100vh;
    overflow-y: auto;
}

.rightJustif {
  text-align: right;
}

.leftPanel {
  width: 35%; /* Largeur de la partie gauche */
  background-color: #f0f0f0; /* Couleur de fond */
  overflow-y: hidden; /* Ajouter un défilement si le contenu est plus long que la zone */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#pageManager {
    position: relative; 
    background-color: var(--pagemanager-bg-color);
    color: var(--dimmed-white-font);
    overflow-y: hidden;
    flex: 0 0 auto;
  }

#analyzePanel{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 0 1 auto;
}

.title{
    font-weight: bold;
    /* margin-bottom: 5px; */
}


/* .subEvent{
  opacity: 0.8;
} */


.scrapTextBox{
  width: calc(100% - 10px);
  /* width: 100%; */
  border: none;
  padding: 2px 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 85%;
  resize: none;
  margin-bottom: 0px;
  margin-right: 5px;
  /* min-height: calc(1ch + 10px); */
}

.urlPanel{
    font-weight: normal;
    font-size: 80%;
    margin-top: 0px;
    margin-bottom: 2px;
}

.warning{
  color: var(--warning-font);
  font-weight: bold;
}

.rightPanel {
  padding: 20px;
  width: 65%; /* Largeur de la partie droite */
  background-color: #e2d9cd; /* Couleur de fond */
  overflow-y: auto; /* Ajouter un défilement vertical si le contenu est plus long que la zone */
}
  

.SCRPXeventBlockInvalid {
  border: 2px dashed grey; 
  padding: 10px; 
  margin: 1px;
  background: repeating-linear-gradient(
    -45deg,        
    transparent,      
    transparent 10px, 
    grey 10px, 
    grey 12px 
  );
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
}
.SCRPXeventBlock {
  border: 2px solid var(--eventblock-border-color); 
  padding: 5px; 
  padding-left: 25px;
  display: inline-block; 
  margin: 1px;
  background-color: var(--eventblock-bg-color);
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px var(--shadow-color);
}


.SCRPXlinkedPageMainBlock.SCRPXeventBlock {
  border: 2px solid var(--eventblock-border-color); 
  padding: 0px; 
  padding-left: 0px;
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
  margin: 1px;
  background-color: var(--linkedpage-eventblock-bg-color);
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px var(--shadow-color);
}

.SCRPXsubEvent{
  border: 2px solid var(--verydarkgrey-font-color); 
  margin-bottom: 3px;
}


custom-a {
  color: var(--custom-tags-color);
  text-decoration: underline;
  display: block; 
  padding: 5px;
}

.SCRPXsubEventHeader{
  margin: 0px;
  padding: 1px;
  font-size: 40%;
  font-weight: bold;
  text-decoration: none !important;
  color: var(--dimmed-white-font);
  background-color: var(--verydarkgrey-font-color);
}

.SCRPXlinkedPageEventHeader{
  margin: 0px;
  padding: 1px;
  font-weight: bold;
  color: var(--dimmed-white-font);
  background-color: var(--verydarkgrey-font-color);
}

.SCRPXeventBlockWithURL{
  outline: 4px solid var(--url-bg-color);  
  outline-offset: -5px;
}

.focusedOn {
  border: 2px solid var(--delimiter-bg-color);
  padding: 10px; 
  display: inline-block; 
  margin: 1px;
}

.SCRPXmainTag {
  background-color: var(--delimiter-bg-color);
}

.delimiterTagInput {
  width: calc(100%); /* Largeur ajustée en fonction de la marge */
  box-sizing: border-box;
  margin-top: 5px; 
  border: none;
  padding: 4px 5px;
  background-color: white;
  box-sizing: border-box;
}

.regexpTextBefore{
  margin: 0px;
  padding: 0px;
  font-size: 80%;
  color: var(--verydarkgrey-font-color);
}

.regexpTextAfter{
  margin: 0px;
  padding: 2px 0px;
  font-size: 80%;
  font-weight: bold;
  color: var(--verydarkgrey-font-color);
}

.regexpPanel{
  margin: 0px;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 2px;
  background-color: var(--category-bg-color);
}

.regexpInput {
  width: calc(44%); /* Largeur ajustée en fonction de la marge */
  margin-top: 2px; 
  border: none;
  padding: 2px 5px;
  background-color: white;
  box-sizing: border-box;
}

#eventSelectorPanel{
  background-color: var(--delimiter-lighter-color);
  padding: 2px 2px;
  border-radius: 3px;
}

.delimiterPanelHeader{
  width: calc(100%);
  box-sizing: border-box;
  padding: 0px;
}  

.extend-button {
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--extend-button-bg-color);
  border: 0px solid var(--light-shadow-color);
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  opacity: 1;
}

.extend-button:hover{
  background-color: var(--extend-button-hover-bg-color); 
}

#eventSelectorIndex{
  box-sizing: border-box;
  max-width: 100%;
  border: none;
}

#eventSelectorText{
  color: var(--dimmed-white-font);
  margin-right: -5px;
}

#delimiterPanel{
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding: 5px;
}

.scrapTextBox:focus {
    outline: 2px solid var(--textbox-focus-color);
}

input:focus {
 outline: 0px;
}

.eventTags{
  textarea {
    overflow: hidden; /* Empêche le défilement vertical */
    resize: none; /* Désactive la redimensionnement par l'utilisateur */
    width: 100%; /* Largeur maximale */
  }
}

.sliderCheckBox{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
  display: inline;
}





.sliderLeftPanel, .panelWithSlider, .adjustURLCheckbox{
  display: flex;
  width: 100%;
  justify-content: normal; 
  /* align-items: center;  */
  /* flex: 1; */
  flex-direction: row;
  /* flex-wrap: nowrap; */
  white-space: nowrap;
  gap: 0px;
  margin: 0px;
}

.niceCheckBox{
  display: flex;
  align-items: center; 
}




.invalid{
  background-color: var(--delimiter-lightest-color);
  color: var(--red-font);
}



input[type="number"] {
  -moz-appearance: textfield; /* Forcer l'affichage sur Firefox */
  appearance: auto; /* Forcer sur Chrome/Electron */
}




/* context menu */

.context-menu {
  position: absolute;
  background: var(--contextmenu-bg-color);
  border: 1px solid var(--contextmenu-border-color);
  box-shadow: 2px 2px 10px var(--light-shadow-color);
  padding: 2px;
  display: none;
  z-index: 1000;
  font-family: sans-serif;
}

/* Boutons carrés */
.menu-buttons {
  display: flex;
  gap: 2px;
  margin-bottom: 1px;
  padding: 0px;
}

.menu-buttons button {
  width: 40px;
  height: 40px;
  border: 1px solid var(--contextmenu-border-color);
  cursor: pointer;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.multiple-event {
  margin-top: 2px;
  text-align: center;
  padding: 2px;
  background: var(--contextmenu-subevent-bg-color);
  border: 1px solid var(--contextmenu-border-color);
  cursor: pointer;
}

.multiple-event:hover {
  background: var(--contextmenu-subevent-hoover-bg-color);
}

.multiEventEasyPanelGroup{
  outline: 2px solid var(--easypanel-subevent-color); 
  margin-bottom: 4px;
  margin-top: 4px;
  box-sizing: border-box;
  display: flex;
}

.PanelSubEventHeader{
  margin: 0px;
  padding: 1px;
  font-size: 50%;
  font-weight: bold;
  text-decoration: none !important;
  color: var(--dimmed-white-font);
  background-color: var(--verydarkgrey-font-color);
  justify-content: center; 
  align-items: center;
  text-align: center;
  width: 10px;
  writing-mode: vertical-lr; /* rotate text */
  /* text-orientation: upright; */
}


.multiEventEasyPanelGroup:has(+ .multiEventEasyPanelGroup) {
  margin-bottom: 5px;
}

.SCRPXmouseHighlight{
  background-color: var(--mouse-over-bg-color); 
  transition: background-color 0.1s ease; 
}

.SCRPXmouseHighlight2{
  opacity: 0.8;
  transition: background-color 0.1s ease; 
}


/* checkboxes */

/* fieldset {
  display: block;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

label.niceCheckBox {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin: 1em;
  position: relative; 
  left: 16px;
}

label.niceCheckBox.useLinks {
  left: -2px !important;
}
  

label.niceCheckBox > input {
  display: none;
}

/* for the delimiter checkbox */

label.niceCheckBox.delimiterCheckBox > span {
  color: var(--delimiter-inactive-font-color);
  padding-right: 8px;
}

label.niceCheckBox.delimiterCheckBox > input:checked + span {
  color: var(--delimiter-font-color);
}

/* for use links */

label.niceCheckBox.useLinks > span {
  color: var(--pm-inactive-font-color) !important;
}

label.niceCheckBox.useLinks > input:checked + span {
  color: var(--dimmed-white-font) !important;
}

/* for the context menu */

label.niceCheckBox.contextMenuLabel > span {
  color: var(--contextmenu-border-color) !important;
}

label.niceCheckBox.contextMenuLabel > input:checked + span {
  color: var(--verydarkgrey-font-color) !important;
}

label.niceCheckBox > i {
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  vertical-align: middle;
  transition: .25s .09s;
  position: relative;
  background: #deeff7;
  top: -1px;
}

label.niceCheckBox > i:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 3px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  box-shadow: 1px 2px 4px 0 var(--shadow-color);
  transition: .15s;
}

label.niceCheckBox>input:checked+span+i {
  background: #1094fb;
}

label.niceCheckBox >input:checked+span+i:after {
  transform: translateX(18px);
}



.loader {
  width: 16px;
  height: 16px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 


	  

.reloadSingle {
  position: relative;
  height: 16px;
  padding: 3px;
  width: 16px;
  &:before, &:after {
    content: '';
    display: block;
  }
  &:before {
    border-color: transparent var(--dimmed-white-font) var(--dimmed-white-font) var(--dimmed-white-font);
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 12px;
    width: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    border-color: transparent transparent transparent var(--dimmed-white-font);
    border-style: solid;
    border-width: 3px 0 3px 5px;
    height: 0;
    position: absolute;
    top: 1.5px;
    left: 50%;
    width: 0;
  }
}

.reloadSingle:hover {
  background-color: var(--pm-button-hover-color);
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 12px;  
  /* height: 12px;  */
}


::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  /* border-radius: 3px;
  border: 0px; 
  height: 12px; */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

