body, html {
  margin: 0px;
  padding: 0px;
}
.container {
    margin: 20px;
}

#indexType{
  display: grid;
  grid-template-columns: 19ch 100px;
  gap: 10px; 
}

#divMPInfo{
  color: grey;
  font-style: italic;
  font-size: 85%;
}

.bigPanel{
  margin: 0px;
  padding: 10px 10px;
}

.subPanel{
  display: flex; 
  align-items: center;
}

.panelHeader{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
}

.multiPagePanelOn{
  background-color: rgb(211, 227, 232);
  /* background-color: rgb(238, 240, 241); */
}


.multiPagePanelOff{
  background-color: rgb(228, 237, 240);
}

/* Style pour les boutons des options */
.niceButton {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.niceButtonNoMargin {
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
  
.scrapTextBox{
  width: 90%;
  border: 1px solid #ccc;
  padding: 5px 10px;
  background-color: white;
  font-family: sans-serif;
  font-size: 85%;
  resize: none;
}
/* Style pour mettre en surbrillance l'option sélectionnée */
.languageItem.selected {
background-color: lightblue;
}



.venueHeader{
  background-color: rgb(103, 158, 182);
  width: 100%;
  margin: 0px;
  padding: 20px 20px;
  font-family: sans-serif;
  margin-bottom: 20px;
  box-sizing: border-box;
  max-width: 100%;
}

.infoPanel{
  background-color: rgb(228, 237, 240);
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px 20px;
  font-family: sans-serif;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
}

.venueName{
  font-size: 24px; 
  padding: 0px 0px;
  padding-right: 5px;
  font-weight: bold; 
  font-family: sans-serif;
}

.sliderCheckBox{
  /* flex-grow: 1;
  display: flex; */
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
  /* display: inline; */
  /* background-color: rgb(216, 58, 89); */
  display: flex;
  margin-left: auto;
  align-items: center;
}

.niceCheckBox{
  display: flex;
  align-items: center; 
}

label.niceCheckBox {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin: 1em;
  position: relative; 
  left: -2px;
}


label.niceCheckBox > input {
  display: none;
}

label.niceCheckBox > i {
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  vertical-align: middle;
  transition: .25s .09s;
  position: relative;
  /* background: #deeff7; */
  background: #c0bdbd;
  top: -1px;
}

label.niceCheckBox > i:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 3px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  box-shadow: 1px 2px 4px 0 var(--shadow-color);
  transition: .15s;
}

label.niceCheckBox > span {
  color: #c0bdbd !important;
}

label.niceCheckBox > input:checked + span {
  color: #000000 !important;
}


label.niceCheckBox>input:checked+span+i {
  background: #1094fb;
}

label.niceCheckBox >input:checked+span+i:after {
  transform: translateX(18px);
}

.multipageBlock{
  background-color: lightgrey;
}

.highlightName {
  background-color: rgb(99, 123, 248);
}

.highlightDate {
  background-color: rgb(116, 207, 127);
}

.highlightStyle {
  background-color: rgb(147, 88, 104);
}

.languageItem.unavailable {
  color: red;
}

.invalid{
  background-color: rgb(241, 148, 146);
}

.alertBlock {
  color: red;
}

.redFont {
  color: red;
}

.greyFont {
  color: grey;
}

.inactive{
  color: grey;
}

.blue-text {
  color: blue;
}

#logText {
  width: 400px;
  height: 200px;
  overflow-y: scroll; 
}

.VenueTextArea {
  resize: none;
  background-color: white;
  font-family: sans-serif;
}

#textURL {
  /* width: 60ch;  */
  border: 1px solid #ccc; 
  background-color: white;
  padding: 5px 10px;
}

#textURL:focus, input:focus {
  outline: 2px solid rgb(189, 195, 199); 
}

.subWidth{
  /* width:60%; */
  min-width: 400px;
  max-width: 800px;
}

#URLPanel{
  background-color: rgb(211, 227, 232);
}

#addVenueBtn{
  margin-left: 100px;
}

#pageManager {
  position: relative; /* Position relative pour positionner le bouton à l'intérieur */
  width: 400px;
  height: 100px;
  background-color: lightblue;
  border: 1px solid #ccc;
  overflow: hidden;
}

#logPanel {
  position: relative; /* Position relative pour positionner le bouton à l'intérieur */
  width: 400px;
  height: 220px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.compact-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

.topElement{
  position: absolute;
  top: 15px;
}

.rightElement{
  position: absolute;
  right: 25px;
}

.relativeRightElement{
  position: absolute;
  right: 25px;
}

.bottomElement{
  position: absolute;
  bottom: 15px;
}

.bottomMargin{
  margin-bottom: 20px;
}

.smallBottomMargin{
  margin-bottom: 10px;
}

.miniBottomMargin{
  margin-bottom: 5px;
}

.leftMargin{
  margin-left: 20px;
}

.topMargin{
  margin-top: 20px;
}


.modifyButton{
  position: absolute;
  top: 15px;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  background-image: url('icon-edit.png');
  background-repeat: no-repeat; /* Ne pas répéter l'image */
  background-position: center; /* Centrer l'image */
  background-size: 12px 12px;
  border: none;
  cursor: pointer;
  
}

.compact-button:hover {
  background-color: darkgray;
}

.normal-button:hover {
  background-color: darkgray;
}

#processContainer {
  font-family: sans-serif;
  display: flex; /* Utiliser Flexbox pour le positionnement */
  height: 100vh;
  overflow-y: auto;
}

/* .leftPanel { 
  width: 35%; 
  background-color: #f0f0f0; 
  overflow: auto; 
}

.rightPanel {
  width: 65%; 
  background-color: #d0d0d0; 
  overflow-y: auto; 
} */
  

.encadre {
  border: 1px solid black; /* Définit une bordure solide d'un pixel en noir */
  padding: 10px; /* Ajoute un espacement intérieur de 10 pixels pour séparer le contenu de la bordure */
  display: inline-block; /* Permet à l'élément de s'ajuster à la largeur du contenu */
}

.mainTag {
  background-color: rgb(255, 107, 107);
}


/* css for list scrolling in venues and cities */

.scrollable-list {
  width: 300px;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none; /* Supprime les puces de la liste */
  width: 50ch;
}

.scrollable-list li {
  line-height: 20px;
  padding: 5px;
  background-color: #eaedf1;
  cursor: pointer; /* Montre que les éléments sont cliquables */
  user-select: none; /* Désactive la sélection du texte par défaut */
  
}

/* Style pour les éléments sélectionnés */
.scrollable-list li.selected {
  background-color: #007bff; /* Couleur de fond pour la sélection */
  color: white; /* Texte en blanc pour contraste */
}


.leftPanel {
  flex: 0 0 35%; /* Largeur de la partie gauche */
  max-width: 300px;
  background-color: rgb(155, 176, 239);
  text-align: left;
  overflow: auto; /* Ajouter un défilement si le contenu est plus long que la zone */
}

.rightPanel {
  flex: 1; /* Largeur de la partie droite */
  background-color: #cedbf0; /* Couleur de fond */
  overflow-y: auto; /* Ajouter un défilement vertical si le contenu est plus long que la zone */
}

.panels {
  line-height: 30px;
  border: 1px solid #ccc;
  padding: 20px;
}


#venueURL{
  background-color: rgb(202, 223, 229);
}

#venueURL:hover{
  cursor: pointer;
  color:rgb(49, 107, 125);
}

.auto-width {
  width: max-content;
  background-color: rgb(202, 223, 229);
  padding: 5px 10px;
}